h1 {
  text-align: center;
  text-decoration: underline;
  text-shadow: 12px 12px #00cc99;
  text-transform: uppercase;
  font-family: Verdana;
  font-style: italic;
  color: #80ff00;
}

.eats { 
  width: 43%;
  display: inline-block;
  font-family: arial;
  font-style: italic;
  color: #A8A8A8 ;
} 

.eats p {
  border: dotted 3px  #80ff00;
}

.eats2 { 
  width: 43%;
  display: inline-block;
  font-family: arial;
  font-style: italic;
  color: #A8A8A8 ;
} 

.eats2 p {
  border: dashed 3px #00cc99;
}